extends layout

block content
	div(class="ui one column center aligned grid")
			div(class="column twelve wide")
				a(href="/login")
					button(class="large ui secondary button") 
						i(class="user icon")
						| Login
				a(href="/signup")
					button(class="big ui button") 
						i(class="sign in icon")
						| Sign Up

		
