extends layout

block content
	div
		if !user
			p(class="ui center aligned grid")= 'Sign up to create a post!'
		if post
			each p in posts
				div(class="ui cards center aligned grid")
					div(class="card")
						div(class="content")
							div(class="header")= p.owner
							div(class="meta")= p.date
							div(class="description")= p.text
	
		