body {
  padding: 0px;
 }

label {
	text-align: left !important;
}

.img-back {
	background: url(../images/header.jpg) no-repeat center center fixed;
	background-size: cover;
	height: 350px;
}

.ui.blue.button.submit {
	float: left !important;
}

.clear {
	margin-bottom: 8em;
}
